$body-color: #949494;
$body-color-dark: #2C2E37;
$body-color-accent: #36aeea;
$body-color-trivial: #95A5AD;
$link-color: $body-color-accent;
$link-hovered-color: #1697d7;
$body-font-size: 14px;
$body-font-family: "Open Sans",Helvetica,Arial,sans-serif;
$grotesque-font-family: "Roboto","Open Sans",Helvetica,Arial,sans-serif;
$cursive-font-family: "Bringin","Lobster Two Italic","Lobster","Androgyne";
$btn-font-family: "Raleway","Open Sans",Helvetica,Arial,sans-serif;
@mixin object-transition-duration {
  -webkit-transition-duration: .4s;
  -moz-transition-duration: .4s;
  -ms-transition-duration: .4s;
  -o-transition-duration: .4s;
  transition-duration: .4s;
}

@mixin link-transition-duration {
  -webkit-transition-duration: .3s;
  -moz-transition-duration: .3s;
  -ms-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s;
}

@mixin waves-before-img {
  content: "";
  height: 7px;
  width: 81px;
  background: url(./assets/img/waves-before-img.png) no-repeat;
  position: absolute;
}

@mixin section-header {
  display: block;
  position: relative;
  color: $body-color-dark;
  font-weight: 700;
  line-height: 43px;
  text-transform: uppercase;
  padding-top: 31px;
  @media (max-width: 479px) {
    padding-top: 15px;
    line-height: 38px;
  }
}

@font-face {
  font-family: "Bringin";
  src: local('Bringin'), url(./assets/fonts/Bringin.otf) format("opentype"), url(./assets/fonts/Bringin.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: $body-font-family;
  color: $body-color;
  font-size: $body-font-size;
  max-width: 100%;
  overflow-x: hidden;
}

a {
  border-radius: 0;
  color: $link-color;
  @include link-transition-duration;
}

a:hover,
a:focus,
a:active {
  color: $link-hovered-color;
  text-decoration: none;
}

button {
  @include object-transition-duration;
}

.btn {
  text-decoration: none;
  @include object-transition-duration;
  cursor: pointer;
  font-family: $btn-font-family;
}

.btn:hover,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  text-decoration: none;
}

.btn-default {
  color: #FFF;
  background-color: $body-color-accent;
  border-color: $body-color-accent;
}

.btn-default:focus,
.btn-default:hover,
.btn-default:active,
.btn-default:active:focus,
.btn-default:active:hover,
.btn-default:active:focus {
  color: #FFF;
  background-color: #1697D7;
  border-color: #1380B6;
}

input,
textarea,
.form-control {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input::-moz-placeholder,
textarea::-moz-placeholder,
.form-control::-moz-placeholder {
  color: #848484;
  opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
.form-control:-ms-input-placeholder {
  color: #848484;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
.form-control::-webkit-input-placeholder {
  color: #848484;
}

.wrapper {
  overflow-x: hidden;
  &-fixed {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: 260px;
  }
}

.header {
  min-height: 700px;
  width: 100%;
  background: url(./assets/img/header-bg.jpg);
  background-size: cover;
  background-position: top center;
}

.header-nav {
  height: 90px;
  background-color: rgba(255, 255, 255, 0.25);
  width: 100%;
  z-index: 120;
  &-container {}
  &-row {
    opacity: 1;
  }
}

.header-nav-logo {
  &-col {}
  font-family: $cursive-font-family;
  font-size: 38px;
  font-weight: 400;
  line-height: 84px;
  padding-top: 0;
  white-space: nowrap;
  &__href {
    color: $link-color;
    text-decoration: none;
    &:hover,
    &:focus {
      color: $link-hovered-color;
      text-decoration: none;
      opacity: 0.85;
    }
  }
  &__gray-accent {
    color: $body-color-trivial;
    &:hover,
    &:focus {
      color: $body-color;
    }
  }
}

.header-nav-menu {
  &-col {}
  &-list {
    float: left;
    padding-top: 29px;
    margin: 0;
    height: 90px;
    &__item {}
    &__link {
      height: 30px;
      font-size: 12px;
      text-decoration: none;
      text-transform: uppercase;
      color: $body-color-trivial;
      font-weight: 700;
      display: inline-block;
      text-align: center;
      &_active,
      &:hover {
        border-bottom: 2px solid $body-color-accent;
        text-decoration: none;
        color: $body-color-trivial
      }
      &:focus {
        border-bottom: 2px solid $body-color-trivial;
      }
    }
  }
  text-align: left;
  &__btn-call-us {
    font-family: "Raleway", "Open Sans", Helvetica, Arial, sans-serif;
    float: right;
    margin-top: 22px;
    min-width: 150px;
    height: 46px;
    border: 3px solid $body-color-accent;
    color: $body-color-accent;
    background: transparent;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 1px;
    &:hover,
    &:focus {
      border-color: $body-color-accent;
      background: $body-color-accent;
      color: #FFF;
    }
  }
}

.wrapper-fixed {
  right: 220px;
}

.sidr {
  display: block;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  overflow-x: hidden;
  overflow-y: auto;
  color: #FFF;
  background: #F6F4F4;
  box-shadow: none;
  width: 220px;
  &.right {
    left: auto;
    right: -220px
  }
  .sidr-inner {
    padding: 0 0 15px
  }
  &-class-header-nav-menu-list {
    border: none;
    padding: 0;
    display: block;
  }
  &-class-header-nav-menu-list__item {
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    color: $body-color-trivial;
    font-weight: 700;
    border: none;
    height: 45px;
    line-height: 45px;
  }
  &-class-header-nav-menu-list__link {
    height: 45px;
    font-size: 15px;
    text-decoration: none !important;
    text-transform: uppercase;
    color: $body-color;
    font-weight: 700;
    border-bottom: 2px solid $body-color-trivial;
    margin: 0 15px;
    text-align: center;
    display: block;
  }
  &-class-header-nav-menu__btn-call-us {
    line-height: 26px;
    white-space: nowrap;
    padding: 6px 12px;
    font-family: "Raleway", "Open Sans", Helvetica, Arial, sans-serif;
    margin: 20px auto 0 auto;
    min-width: 150px;
    height: 46px;
    border: 3px solid $body-color-accent;
    color: $body-color-accent;
    background: transparent;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    display: block;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    &:hover,
    &:focus {
      background-color: $body-color-accent;
      color: #fff;
    }
  }
}

.header-nav-toggle {
  height: 61px;
  width: 38px;
  padding: 0 0 29px 0;
  margin-top: 29px;
  float: right;
  display: block;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  &__line {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: $body-color-accent;
    border-radius: 4px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    &_1 {
      top: 0;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }
    &_2 {
      top: 13px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }
    &_3 {
      top: 26px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }
  }
  &.open {
    .header-nav-toggle__line {
      &_1 {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0;
        left: 2px;
      }
      &_2 {
        width: 0;
        opacity: 0;
      }
      &_3 {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 27px;
        left: 2px;
      }
    }
  }
}

.header-content {
  padding-top: 133px;
  &-container {}
  &-row {
    position: relative;
  }
  &-col {}
}

.header-content-text {
  border: 3px solid #FFF;
  border-top: none;
  min-height: 324px;
  padding: 40px 0 20px 38px;
  cursor: default;
  &:before {
    content: "";
    height: 3px;
    width: 202px;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 99.6%, rgba(255, 255, 255, 0.3) 100%);
    position: absolute;
    top: 0;
    right: 15px;
  }
  &:after {
    content: "";
    height: 3px;
    width: 740px;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 99.6%, rgba(255, 255, 255, 0.3) 100%);
    position: absolute;
    top: 0;
    left: 15px;
  }
  &__caption {
    display: block;
    margin-left: -3px;
    &_top {
      color: #fff;
      font-size: 50px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 4.3px;
      line-height: 34px;
    }
    &_bottom {
      color: #56C7FF;
      font-family: $cursive-font-family;
      font-size: 66px;
      font-weight: 400;
      line-height: 40px;
      margin-bottom: 21px;
    }
  }
  &__description {
    opacity: 0.75;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    max-width: 480px;
    margin-bottom: 26px;
  }
  &__btn-order {
    width: 250px;
    height: 60px;
    color: #FFF;
    background-color: $body-color-accent;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 46px;
    font-family: "Raleway", "Open Sans", Helvetica, Arial, sans-serif;
    letter-spacing: 1.3px;
  }
}

.blog {
  min-height: 667px;
  background: #F6F4F4 url(./assets/img/blog-bg.png) no-repeat 63.5% 23px;
  &-container {}
  &-row {}
}

.blog-about {
  &-col {}
  padding-top: 205px;
  &__header {
    @include section-header;
    font-size: 20px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    &:before {
      @include waves-before-img;
      top: 0;
      left: 0;
    }
  }
  &__description {
    color: $body-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    max-width: 370px;
    margin-bottom: 26px;
    letter-spacing: 0.25px;
  }
  &__btn-read-more {
    width: 130px;
    height: 40px;
    color: #FFF;
    background-color: $body-color-accent;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 1.3px;
  }
}

.blog-images {
  overflow: hidden;
  padding-bottom: 45px;
  &-col {}
  &__big-img {
    position: absolute;
    top: -36px;
    left: 73px;
    width: 806px;
    object-fit: contain;
    z-index: 9
  }
  &__small-img {
    margin-top: 277px;
    margin-left: -31px;
    object-fit: contain;
    max-width: 350px;
    max-height: 350px;
    z-index: 10;
    position: relative;
  }
}

.journal {
  background-color: #FFF;
  min-height: 1064px;
  padding-top: 71px;
  &-container {}
}

.journal-header {
  &-row {}
  &-col {}
  @include section-header;
  font-size: 30px;
  margin-bottom: 42px;
  letter-spacing: 2.6px;
  text-align: center;
  &:before {
    @include waves-before-img;
    margin-left: -40px;
    top: 0;
    left: 50%;
  }
}

.journal-item {
  &-row {
    margin: 0;
    box-shadow: 0 0 21px rgba(6, 6, 6, 0.13);
    background: #FFF;
    opacity: 0.85;
  }
  &-col {
    padding: 0;
    overflow: hidden;
  }
  height: 380px;
  text-align: center;
  position: relative;
  &__img-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
  }
  &_txt {
    padding: 45px 36px 5px 36px;
  }
  &__top-caption {
    color: #16B5EF;
    font-size: 12px;
    font-weight: 700;
    line-height: 13px;
    height: 9px;
    text-transform: uppercase;
    margin-bottom: 51px;
  }
  &__bottom-caption {
    color: #212121;
    font-size: 17px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    margin-bottom: 16px;
  }
  &__text {
    color: #777;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
  }
  &__number {
    height: 10px;
    color: #212121;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
  }
  &_1 {
    &:before {
      content: "";
      background: #FFF;
      width: 15px;
      height: 15px;
      position: absolute;
      right: -7px;
      top: 51px;
      transform: rotate(45deg);
    }
    .journal-item__img {
      margin-left: -110px;
    }
  }
  &_2 {
    &:before {
      content: "";
      background: #FFF;
      width: 15px;
      height: 15px;
      position: absolute;
      left: -7px;
      top: 51px;
      transform: rotate(45deg);
    }
    .journal-item__img {
      margin-left: -72px;
      margin-top: -4px;
    }
  }
  &_3 {
    &:before {
      content: "";
      background: #FFF;
      width: 15px;
      height: 15px;
      position: absolute;
      bottom: -7px;
      left: 51px;
      transform: rotate(45deg);
    }
    .journal-item__img {
      margin-left: -207px;
      margin-top: -58px;
    }
  }
}

.offer {
  background: #F6F4F4 url(./assets/img/offer-bg.jpg) no-repeat 63.5% 23px;
  min-height: 650px;
  padding-top: 147px;
  &-container {}
  &-row {}
  &-col {}
}

.offer-content-header {
  @include section-header;
  font-size: 20px;
  margin-bottom: 8px;
  letter-spacing: 1.5px;
  &:before {
    @include waves-before-img;
    top: 0;
    left: 0;
  }
}

.offer-content {
  &-text {
    color: $body-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 26px;
    letter-spacing: 0.25px;
  }
  &-form {
    height: 62px;
    background: #FFF;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 11px;
    &__input {
      border: none;
      height: 35px;
      margin-top: 13px;
      width: 35%;
      background: transparent;
      padding-left: 20px;
      &_name {}
      &_phone {
        border-left: 1px solid #EBEBEB;
      }
    }
    &__btn-order {
      width: 225px;
      height: 56px;
      text-transform: uppercase;
      background-color: $body-color-accent;
      float: right;
      margin-top: 3px;
      margin-right: 3px;
      color: #FFF;
      position: relative;
    }
  }
  &-caution {
    padding-left: 27px;
    color: $body-color-accent;
    font-size: 14px;
    font-weight: 400;
    line-height: 34px;
    position: relative;
    &:before {
      content: '';
      background: url(./assets/img/offer-content-caution-before-img.png) no-repeat;
      position: absolute;
      width: 14px;
      height: 16px;
      left: 0;
      top: 6px;
    }
  }
}

.scheme {
  min-height: 612px;
  background: #FFF;
  padding-top: 70px;
  &-container {}
  &-row {}
  &-col {}
}

.scheme-header {
  &-col {}
  @include section-header;
  font-size: 30px;
  margin-bottom: 66px;
  letter-spacing: 2.6px;
  text-align: center;
  &:before {
    @include waves-before-img;
    margin-left: -40px;
    top: 0;
    left: 50%;
  }
}

.scheme-item {
  text-align: center;
  font-family: $grotesque-font-family;
  &-number {
    width: 48px;
    height: 48px;
    background-color: #fff;
    border: 3px solid $body-color-accent;
    color: #3BB0EB;
    font-size: 16px;
    font-weight: 900;
    line-height: 42px;
    text-transform: uppercase;
    border-radius: 50px;
    margin: 0 auto;
  }
  &-ellipse {
    width: 179px;
    height: 179px;
    background-color: #F0F3F6;
    border-radius: 170px;
    padding-top: 27px;
    margin: 58px auto 27px auto;
    &__img {}
  }
  &-header {
    line-height: 24px;
    color: $body-color-dark;
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 5px;
  }
  &-text {
    line-height: 24px;
    color: $body-color;
    font-size: 16px;
    font-weight: 300;
    max-width: 238px;
    text-align: center;
    margin: 0 auto;
  }
}

.travel {
  min-height: 1128px;
  padding-top: 105px;
  background: #FFF url(./assets/img/travel-bg.jpg) no-repeat center bottom;
  &-container {}
  &-row {
    margin-left: -35px;
    padding-right: 15px;
  }
  &-col {}
}

.travel-header {
  &-col {
    padding-left: 35px;
  }
  @include section-header;
  font-size: 30px;
  margin-bottom: 97px;
  letter-spacing: 2.6px;
  text-align: center;
  &:before {
    @include waves-before-img;
    margin-left: -40px;
    top: 0;
    left: 50%;
  }
}

.travel-item {
  &-col {
    width: 20%;
    padding: 0 0 0 35px;
    position: relative;
    float: left;
    display: inline-block;
    overflow: hidden;
    height: 382px;
    border-radius: 4px;
  }
  &__bg {
    position: absolute;
    min-width: 100%;
    height: 100.3%;
    z-index: 10;
    border-radius: 4px;
  }
  &__rating {
    z-index: 10;
    position: relative;
    margin-top: 6px;
    margin-left: 11px;
    margin-bottom: 115px;
  }
  &__rating-stars {
    max-height: 38px;
    max-width: 100%;
  }
  &__caption {
    z-index: 10;
    position: relative;
    margin-left: 20px;
    color: #fff;
    font-size: 28px;
    font-weight: 400;
    line-height: 63px;
  }
  &__text {
    z-index: 10;
    position: relative;
    margin-left: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
  }
  &__cost {
    z-index: 10;
    position: absolute;
    display: block;
    bottom: 0;
    left: 35px;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    padding-right: 47px;
    height: 62px;
    border-bottom-left-radius: 4px;
  }
  &__price-old {
    margin-left: 20px;
    display: inline-block;
    float: left;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 62px;
    text-decoration: line-through;
  }
  &__price-current {
    display: inline-block;
    float: right;
    color: #fff;
    font-size: 26px;
    font-weight: 700;
    line-height: 62px;
  }
}

.gallery {
  min-height: 942px;
  padding-top: 71px;
  &-container {}
  &-row {}
}

.gallery-header {
  &-col {}
  @include section-header;
  font-size: 30px;
  margin-bottom: 64px;
  letter-spacing: 2.6px;
  text-align: center;
  &:before {
    @include waves-before-img;
    margin-left: -40px;
    top: 0;
    left: 50%;
  }
}

.gallery-column {
  overflow: hidden;
  max-height: 654px;
  &-img {
    margin-left: -20px;
    &_top {
      margin-bottom: 30px;
      max-height: 343px;
    }
    &_bottom {
      min-height: 281px;
      max-height: 381px;
    }
  }
}

.logos {
  height: 180px;
  padding-top: 70px;
  line-height: 40px;
  background: #F8F9FA;
  &-container {}
  &-row {}
  &-col {
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
  }
}

.logos-img {
  max-width: 200px;
  max-height: 40px;
}

.footer {
  padding-top: 69px;
  background: #FFF url(./assets/img/footer-bg.jpg) no-repeat center bottom;
  &-container {
    position: relative;
    min-height: 1292px;
  }
}

.footer-review-row {}

.footer-review-header {
  &-col {}
  @include section-header;
  font-size: 30px;
  margin-bottom: 82px;
  letter-spacing: 2.6px;
  text-align: center;
  &:before {
    content: "";
    height: 7px;
    width: 81px;
    margin-left: -40px;
    background: url(./assets/img/waves-before-img.png) no-repeat;
    position: absolute;
    top: 0;
    left: 50%;
  }
}

.footer-review-item {
  padding-top: 33px;
  &-col {}
  &__user-opinion {
    color: #BCBCBC;
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    margin-bottom: 26px;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 15px;
      width: 24px;
      height: 22px;
      background: url(./assets/img/footer-review-item__user-opinion-before-img.png) no-repeat;
    }
  }
  &__user-photo {
    height: 68px;
    width: 68px;
    display: inline-block;
    line-height: 68px;
    border-radius: 68px;
    overflow: hidden;
    margin-right: 15px;
  }
  &__user-name {
    color: $body-color-accent;
    font-size: 16px;
    line-height: 33px;
    font-weight: 700;
    display: inline-block;
  }
  &__user-job {
    font-weight: 300;
  }
}

.footer-feedback {
  &-row {}
  background: rgba(255, 255, 255, 0.18) url(./assets/img/footer-feedback-bg.png) no-repeat;
  border-radius: 8px;
  box-shadow: 0 5px 51px rgba(0, 0, 0, 0.75);
  padding: 42px 30px 30px 30px;
  text-align: center;
  height: 496px;
  max-width: 514px;
  margin: 140px auto 0 auto;
  &__header {
    display: block;
    color: $body-color-accent;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 9px;
  }
  &__description {
    color: #383E4A;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    margin-bottom: 29px;
  }
}

.footer-feedback-form {
  &__input {
    height: 60px;
    line-height: 60px;
    background-color: #fff;
    border: 3px solid #fff;
    border-radius: 4px;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 0 20px;
  }
  &__btn-send {
    display: block;
    height: 70px;
    background-color: $body-color-accent;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    color: #FFF;
  }
}

.footer-bottom {
  &-container {
    position: relative;
    min-height: 1292px;
  }
  &-row {
    position: absolute;
    bottom: 0;
    left: 15px;
    width: 100%;
    height: 83px;
    line-height: 83px;
  }
}

.footer-bottom-copyright {
  &-col {}
  color: #7EC2D6;
  font-size: 18px;
  font-weight: 400;
}

.footer-bottom-social {
  text-align: center;
  &__link {
    width: 39px;
    height: 39px;
    margin-right: 0;
    display: inline-block;
    vertical-align: middle;
    &:hover,
    &:focus {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.33);
    }
  }
  &__img {
    display: block;
    width: 100%;
    max-width: 100%
  }
}

.footer-bottom-phonenumber {
  &-col {
    text-align: right;
  }
  color: #7EC2D6;
  font-family: $grotesque-font-family;
  font-size: 27px;
  display: block;
  font-weight: 900;
  &:hover,
  &:focus {
    color: #7EC2D6;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  .header {
    &-nav-logo {
      font-size: 34px;
    }
    &-content-text {
      &:before {
        width: 102px;
      }
      &:after {
        width: 641px;
      }
    }
  }
  .offer-content-form__input {
    width: 32.5%
  }
  .travel {
    &-row {
      margin-left: -15px;
      padding-right: 15px;
    }
    &-header-col {
      padding-left: 15px;
    }
    &-item-col {
      padding: 0 0 0 15px;
    }
    &-item-price {
      left: 15px;
    }
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .header {
    &-nav-logo {
      font-size: 24px;
    }
    &-content-text {
      border-right: none;
      &:before {
        height: 303px;
        width: 3px;
        bottom: 0;
        top: initial;
        background: linear-gradient(to top, #FFF 0%, #FFF 96%, rgba(255, 255, 255, 0.2) 97%, rgba(255, 255, 255, 0.15) 98%, rgba(255, 255, 255, 0.01) 100%);
      }
      &:after {
        width: 529px;
      }
      &__description {
        font-size: 16px;
        max-width: 380px;
      }
    }
    &-nav-menu-list__link {
      font-size: 11px;
    }
  }
  .blog {
    min-height: initial;
    &-images {
      padding-bottom: 60px;
      &__small-img {
        max-height: 250px;
        max-width: 250px;
      }
      &__big-img {
        width: 483px;
        left: initial;
        right: -110px;
      }
    }
  }
  .journal {
    padding-bottom: 71px;
    &-item_2:before {
      left: 51px;
      top: -7px;
    }
  }
  .offer-content-form__input {
    width: 32.5%
  }
  .scheme-item {
    margin-bottom: 66px;
    &-text {
      max-width: initial;
    }
  }
  .travel {
    padding-top: 40px;
    min-height: 1320px;
    &-item-col {
      width: 33.33333333%;
      margin-bottom: 30px;
      &_4 {
        margin-left: 16.66666666%;
      }
    }
  }
  .gallery-column-img {
    &_1 {
      margin-left: -90px;
    }
    &_2 {
      margin-left: -100px
    }
  }
  .footer {
    &-container {
      min-height: 1570px;
    }
    &-review-item {
      margin-bottom: 80px;
    }
  }
}

@media (max-width: 767px) {
  .header {
    background-position-x: 57%;
    min-height: 667px;
  }
  .header-nav {
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.75);
    &-logo {
      line-height: 90px;
    }
    &-menu-list__link {
      font-size: 11px;
    }
  }
  .header-content {
    padding-top: 170px;
    &-text {
      border: none;
      padding-left: 15px;
      &:before {
        display: none;
      }
      &:after {
        display: none;
      }
    }
    &-text__caption_top {
      font-size: 27px;
      margin-bottom: 0;
    }
    &-text__caption_bottom {
      font-size: 40px;
      margin-top: 0;
    }
    &-text__description {
      font-size: 15px;
      max-width: 210px;
    }
    &-text__btn-order {
      width: 180px;
    }
  }
  .blog {
    background: #F6F4F4 url(./assets/img/blog-bg.png) no-repeat 71% 89px;
    &-about {
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 45px;
      padding-bottom: 15px;
    }
    &-about__description {
      max-width: initial;
      font-size: 15px;
    }
    &-images__small-img {
      max-width: 320px;
      margin-top: 240px;
      right: initial;
      left: 45px;
    }
    &-images__big-img {
      max-width: 410px;
      top: 30px;
      left: initial;
      right: 30px;
    }
  }
  .journal {
    padding-bottom: 45px;
    padding-top: 45px;
  }
  .journal-container {
    padding-left: 30px;
    padding-right: 30px;
    &-row {
      position: relative;
    }
  }
  .journal-item {
    &-col {
      overflow: visible
    }
    height: 300px;
    &_txt {
      padding: 40px 15px 5px 15px;
    }
    &_1 {
      &:before {
        right: 50%;
        margin-right: -7px;
        top: initial;
        bottom: -7px;
      }
      .journal-item__img {
        margin-left: initial;
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-top: 0;
      }
    }
    &_2 {
      position: relative;
      top: initial;
      margin-top: -900px;
      &:before {
        left: initial;
        right: 50%;
        margin-right: -7px;
        top: initial;
        bottom: -7px;
      }
      .journal-item__img {
        margin-left: initial;
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-top: 0;
      }
    }
    &_txt-2 {
      margin-top: -600px;
    }
    &_3 {
      position: relative;
      top: initial;
      margin-top: 600px;
      &:before {
        left: initial;
        right: 50%;
        margin-right: -7px;
      }
      .journal-item__img {
        margin-left: initial;
        width: 100%;
        margin-top: 0;
        height: 100%;
        object-fit: cover;
      }
    }
    &_txt-3 {
      margin-top: 0;
    }
  }
  .offer {
    padding-top: 45px;
    &-container {
      padding-left: 30px;
      padding-right: 30px;
    }
    &-content-form__input_name {
      width: 53%;
    }
    &-content-form__input_phone {
      width: 43%;
    }
    &-content-form__btn-order {
      float: left;
      margin-top: 29px;
    }
    &-content-form {
      clear: both;
    }
    &-content-caution {
      float: left;
      display: block;
      width: 100%;
      margin-top: 7px;
    }
  }
  .scheme {
    padding-top: 45px;
    &-container {
      padding-left: 30px;
      padding-right: 30px;
    }
    &-header {
      margin-bottom: 45px;
    }
    &-item {
      margin-bottom: 60px;
    }
    &-item-ellipse {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    &-item-text {
      max-width: initial;
    }
  }
  .travel {
    padding-top: 45px;
    padding-bottom: 30px;
    &-container {
      padding-left: 30px;
      padding-right: 30px;
    }
    &-header-col {
      padding-left: 30px;
    }
    &-header {
      margin-bottom: 45px;
    }
    &-item-col {
      width: 50%;
      padding-left: 30px;
      margin-bottom: 30px;
    }
    &-item-col_5 {
      margin-left: 25%;
    }
    &-item__cost {
      left: 30px
    }
  }
  .gallery {
    padding-top: 45px;
    &-container {
      padding-left: 30px;
      padding-right: 30px;
    }
    &-header {
      margin-bottom: 45px;
    }
    &-column {
      margin-bottom: 30px;
    }
    &-column-img_top {
      width: 100%;
      margin-left: initial;
      object-fit: cover;
      min-height: 304px;
    }
    &-column-img_bottom {
      width: 100%;
      margin-left: initial;
      object-fit: cover;
    }
  }
  .logos {
    height: 100px;
    padding-top: 30px;
    &-container {
      padding-left: 30px;
      padding-right: 30px;
    }
    &-img {
      max-width: 63px
    }
  }
  .footer {
    padding-top: 45px;
    &-container {
      min-height: 1400px;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  .footer-review {
    &-row {
      margin-bottom: 60px;
    }
    &-header {
      margin-bottom: 45px;
    }
    &-item {
      margin: 0 0 60px 0;
    }
  }
  .footer-feedback-row {
    margin-bottom: 187px;
  }
  .footer-bottom {
    &-row {
      height: 150px;
      text-align: center;
      background: rgb(60, 87, 95);
      background: -moz-linear-gradient(left, rgba(60, 87, 95, 1) 0%, rgba(60, 85, 93, 1) 100%);
      background: -webkit-linear-gradient(left, rgba(60, 87, 95, 1) 0%, rgba(60, 85, 93, 1) 100%);
      background: linear-gradient(to right, rgba(60, 87, 95, 1) 0%, rgba(60, 85, 93, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c575f', endColorstr='#3c555d', GradientType=1);
    }
    &-copyright {
      height: 48px;
      line-height: 48px;
    }
    &-social {
      height: 50px;
      line-height: 50px;
    }
    &-phonenumber {
      height: 50px;
      text-align: center;
      line-height: 50px;
      font-size: 25px;
    }
  }
}

@media (max-width: 479px) {
  .header {
    background-position-x: 23%;
  }
  .header-content {
    padding-top: 230px;
    &-text {
      padding: 0;
    }
    &-text__caption_top {
      font-size: 23px;
    }
    &-text__caption_bottom {
      font-size: 37px;
    }
    &-text__description {
      max-width: 360px
    }
  }
  .blog-about {
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .blog-images {
    padding-bottom: 30px;
    &__big-img {
      padding-left: 30px;
      max-width: 100%;
      object-fit: cover;
      height: 255px;
      right: 15px;
    }
    &__small-img {
      left: 30px;
      margin-top: 260px;
      max-width: 280px
    }
  }
  .journal {
    padding-bottom: 30px;
    padding-top: 30px;
    &-container {
      padding-left: 15px;
      padding-right: 15px;
    }
    &-header {
      margin-bottom: 30px;
    }
    &-item__top-caption {
      margin-bottom: 20px;
    }
    &-item__bottom-caption {
      margin-bottom: 15px;
      line-height: 24px;
    }
    &-item__text {
      margin-bottom: 15px;
    }
  }
  .offer {
    padding-top: 30px;
    &-container {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .scheme {
    padding-top: 30px;
    &-container {
      padding-left: 15px;
      padding-right: 15px;
    }
    &-header {
      margin-bottom: 30px;
    }
    &-item {
      margin-bottom: 45px;
    }
    &-item-ellipse {
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
  .travel {
    padding-bottom: 150px;
    min-height: initial;
    &-container {
      padding-left: 15px;
      padding-right: 30px;
    }
    &-row {
      margin-right: -15px;
      margin-left: -15px;
      padding: 0;
    }
    &-header-col {
      padding-left: 15px;
      padding-right: 0;
    }
    &-header {
      margin-bottom: 30px;
    }
    &-item-col {
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
    }
    &-item__bg {
      height: 100%
    }
    &-item__rating {
      margin-left: 4px;
    }
    &-item__caption {
      margin-left: 15px;
    }
    &-item__text {
      margin-left: 15px;
    }
    &-item__price-old {
      margin-left: 15px;
    }
    &-item__cost {
      left: 15px;
      padding-right: 30px;
    }
    &-item-col_5 {
      margin-left: 0;
    }
  }
  .gallery {
    padding-top: 30px;
    &-container {
      padding-left: 15px;
      padding-right: 15px;
    }
    &-header {
      margin-bottom: 30px;
    }
    &-row .col-xs-6 {
      width: 100%;
    }
  }
  .logos {
    height: initial;
    padding: 30px 0;
    &-container {
      padding-left: 15px;
      padding-right: 15px;
    }
    &-col {
      display: inline-block;
      height: initial;
      text-align: center;
    }
    &-img {
      display: inline-block;
      min-width: 100px;
      object-fit: contain;
      padding: 0 15px;
    }
  }
  .footer {
    padding-top: 30px;
    &-container {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .footer-review {
    &-header {
      margin-bottom: 30px;
    }
    &-item {
      margin: 0 0 45px 0;
    }
    &-item__user-opinion {
      font-size: 16px
    }
  }
  .footer-feedback {
    padding: 15px 15px 15px 15px;
    height: initial;
    &__header {
      font-size: 30px;
      line-height: 34px;
      margin-bottom: 7px;
    }
    &__description {
      margin-bottom: 15px;
      line-height: 25px;
    }
    &-form__input {
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 369px) {
  .journal-item {
    &_txt {
      padding: 20px 15px 15px 15px;
    }
    &__top-caption {
      margin-bottom: 15px;
    }
    &__text {
      font-size: 14px
    }
  }
  .offer-content {
    &-form {
      height: initial;
      background: transparent;
    }
    &-form__input {
      width: 100%;
      background: #fff;
      border-radius: 4px;
      margin-bottom: 15px;
      margin-top: 0;
      height: 56px;
      line-height: 54px;
      font-size: 16px
    }
    &-form__btn-order {
      margin-top: 0;
      width: 100%;
    }
  }
  .footer-review-item {
    &__user-photo {
      margin-right: 10px;
      width: 50px;
      height: 50px;
      line-height: 50px;
    }
    &__user-name {
      font-size: 14px
    }
  }
}